html {
    font-family: 'Oswald', monospace;
}
body {
    background-color: #cfcfc4;
}

/* header element */
#header {
    background-color: #ffb347;
    text-align: center;
    padding: 20x 20px;
}
#header img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 5px solid rgba(0, 0, 0, 0.781);
}
#header h1 {
    font-size: 40px;
    font-family: 'Shadows Into Light', monospace;
    margin: auto 0px;
}

/* main element */
#main {
    text-align: center;
    font-size: 20px;
}
#article-text {
    display: inline-block;
}
#main p {
    margin: 0px 215px;
    text-align: justify;
}

    /* Figures */
    figure {
        margin: 30px 40px;
        display: inline-block;
        vertical-align: top;
    }
    figure img {
        border: solid white;
        border-width: 1px;
        height: 169px;
        width: 309px;
    }
    figcaption {
        font-style: italic;
        font-size:14px;
        margin: 5px 5px;
    }

/* footer */
#footer {
    text-align: center;
    background-color: #ffb347;
    margin: 0px 0px;
}