html {
    font-family: monospace;
}
body {
    background-color: #cfcfc4;
}

/* header element */
#header {
    background-color: #ffb347;
    text-align: center;
    padding: 10px 10px;
}
#header img {
    padding: 15px 20px;
    width: 80px;
    height: 80px;
    border-radius: 360px;
}
#header h1 {
    margin: 2px;
    margin-bottom: 10px;
    font-size: 40px;
}

/* main element */
#main {
    text-align: center;
    font-size: 14px;
}
#article-text {
    display: inline-block;
}
#main p {
    margin: 14px 10px;
}

    /* Figures */
    figure {
        margin: 30px 40px;
        display: inline-block;
        vertical-align: top;
    }
    figure img {
        border: solid white;
        border-width: 1px;
        height: 169px;
        width: 309px;
    }
    figcaption {
        font-style: italic;
        font-size:14px;
        margin: 5px 5px;
    }

/* footer */
#footer {
    text-align: center;
    background-color: #ffb347;
}